<div>
  <label for="">Bienvenido {{getterUser.userName}}</label>
</div>

<!-- Botón para abrir el formulario -->
 <div class="d-grid gap-2">
  <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#datos" (click)="abrirFormulario()">
    Registrar Película
  </button>
</div>

<div class="container">
  <div class="my-3"></div>

  <div class="d-flex align-items-start gap-2 flex-wrap">
    <select class="form-select w-auto" [(ngModel)]="filtradoEstatus">
      <option value="Pendiente Revision">Pendiente de Revisión</option>
      <option value="Aprobada">Aprobada</option>
      <option value="Rechazada">Rechazada</option>
    </select>

    <button class="btn btn-outline-primary" (click)="filtrarPeliculas()">
      <i class="bi bi-funnel"></i> Aplicar Filtro
    </button>

    <button class="btn btn-outline-danger" (click)="limpiarFiltro()">
      <i class="bi bi-x-circle"></i> Limpiar Filtro
    </button>
  </div>

  <div class="my-3"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="datos" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      <!-- Encabezado -->
      <div class="modal-header">
        <h1 class="modal-title fs-5">Formulario para selección de película</h1>
        <button type="button" class="btn-close" id="cerrarModal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Cuerpo del modal -->
      <div class="modal-body row g-3 px-4">

        <!-- Título -->
        <label class="col-form-label col-2">Película</label>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Titanic" [(ngModel)]="peliculaModal.titulo">
        </div>

        <!-- Estatus -->
        <label class="col-form-label col-2">Estatus</label>
        <div class="col-2">
          <select class="form-select" [(ngModel)]="peliculaModal.estatus" [disabled]="!peliculaModal.edicion">
            <option value="Pendiente Revision">Pendiente Revisión</option>
            <option value="Aprobada">Aprobada</option>
            <option value="Rechazada">Rechazada</option>
          </select>
        </div>

        <!-- Horario -->
        <label class="col-form-label col-2">Horario</label>
        <div class="col-2">
          <input type="time" class="form-control" [(ngModel)]="peliculaModal.horario">
        </div>

        <!-- Personas -->
        <label class="col-form-label col-2">Cantidad de Personas</label>
        <div class="col-2">
          <input type="number" class="form-control" placeholder="4" [(ngModel)]="peliculaModal.personas">
        </div>

        <!-- Sala -->
        <label class="col-form-label col-2">Sala</label>
        <div class="col-2">
          <select class="form-select" [(ngModel)]="peliculaModal.sala">
            <option value="1">Sala 1</option>
            <option value="2">Sala 2</option>
            <option value="3">Sala 3</option>
            <option value="4">Sala 4</option>
            <option value="5">Sala 5</option>
          </select>
        </div>

        <!-- Clasificación -->
        <label class="col-form-label col-2">Clasificación</label>
        <div class="col-2">
          <select class="form-select" [(ngModel)]="peliculaModal.clasificacion">
            <option value="AA">AA</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="B15">B15</option>
            <option value="C">C</option>
          </select>
        </div>

        <!-- Duración -->
        <label class="col-form-label col-2">Duración</label>
        <div class="col-2">
          <div class="input-group">
            <input type="number" class="form-control" placeholder="120" [(ngModel)]="peliculaModal.duracion">
            <span class="input-group-text">min</span>
          </div>
        </div>

        <!-- Descripción -->
        <div class="col-12">
          <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea" placeholder="Descripción"
              [(ngModel)]="peliculaModal.descripcion"></textarea>
            <label for="floatingTextarea">Descripción</label>
          </div>
        </div>
      </div>

      <!-- Footer del modal -->
      <div class="modal-footer">
        <button class="btn btn-danger" *ngIf="peliculaModal.edicion" (click)="eliminarPelicula(peliculaModal)">
          <i class="bi bi-trash3"></i>
        </button>
        <button class="btn btn-success" *ngIf="!peliculaModal.edicion" (click)="registrarPelicula()">
          <i class="bi bi-floppy"></i> Registrar Película
        </button>
        <button class="btn btn-success" *ngIf="peliculaModal.edicion" (click)="editarPelicula()">
          Guardar cambios de película
        </button>
      </div>
    </div>
  </div>
</div>


<table class="table table-bordered">
  <thead id="tablaEncabezado">
    <tr>
      <th scope="col">Película</th>
      <th scope="col">Horario</th>
      <th scope="col">Estatus</th>
      <th scope="col">Personas</th>
      <th scope="col">Sala</th>
      <th scope="col">Clasificación</th>
      <th scope="col">Duración</th>
      <th scope="col">Descripción</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pelicula of listaPeliculas; let i = index" 
        [ngClass]="{
          'aprobada': pelicula.estatus === 'Aprobada',
          'rechazada': pelicula.estatus === 'Rechazada'
        }"
        [attr.data-estatus]="pelicula.estatus">
      <td>{{ pelicula.titulo }}</td>
      <td>{{ pelicula.horario }}</td>
      <td>{{ pelicula.estatus }}</td>
      <td>{{ pelicula.personas }}</td>
      <td>{{ pelicula.sala }}</td>
      <td>{{ pelicula.clasificacion }}</td>
      <td>{{ (pelicula.duracion/60).toFixed(2) }} Hrs</td>
      <td>{{ pelicula.descripcion }}</td>
      <td>
        <button class="btn btn-warning btn-sm me-2" data-bs-toggle="modal" data-bs-target="#datos" (click)="edicionPelicula(pelicula)" title="Editar">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-danger btn-sm me-2" (click)="invocarAlertaEliminar(pelicula)" title="Eliminar">
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
