<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#datos">
    Abrir Formulario
</button>

<!-- Modal -->
<div class="modal fade" id="datos" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Formulario para seleccion de pelicula</h1>
                <button class="btn-close" id="cerrarModal" data-bs-dismiss="modal">

                </button>
            </div>
            <div class="modal-body row">
                <label class="col-form-label col-2">
                    Pelicula
                </label>
                <div class="col-10">
                    <input type="text" class="form-control" placeholder="Titanic" [(ngModel)]="peliculaModal.titulo">
                </div>
                <label class="col-form-label col-2">
                    horario
                </label>
                <div class="col-2">
                    <input type="number" class="form-control" placeholder="02:00" [(ngModel)]="peliculaModal.horario">
                </div>
                <label class="col-form-label col-2">
                    Cantidad de Personas
                </label>
                <div class="col-2">
                    <input type="number" class="form-control" placeholder="4" [(ngModel)]="peliculaModal.personas">
                </div>
                <label class="col-form-label col-2">
                    Sala
                </label>
                <div class="col-2">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="peliculaModal.sala">
                        <option value="1">Sala 1</option>
                        <option value="2">Sala 2</option>
                        <option value="3">Sala 3</option>
                        <option value="4">Sala 4</option>
                        <option value="5">Sala 5</option>
                    </select>
                </div>
                <label class="col-form-label col-2">
                    Clasificacion
                </label>
                <div class="col-2">
                    <select class="form-select" aria-label="Default select example"
                        [(ngModel)]="peliculaModal.clasificacion">
                        <option value="AA">AA</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="B15">B15</option>
                        <option value="C">C</option>
                    </select>
                </div>
                <label class="col-form-label col-2">
                    Duracion
                </label>
                <div class="col-2">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="120" aria-label="Recipient’s username"
                            aria-describedby="basic-addon2" [(ngModel)]="peliculaModal.duracion">
                        <span class="input-group-text" id="basic-addon2">min</span>
                    </div>
                </div>
                <label class="col-form-label col-5">
                    Descripcion
                </label>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                        [(ngModel)]="peliculaModal.descripcion"></textarea>
                    <label for="floatingTextarea">Escribe una descripcion aqui</label>
                </div>
                

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" *ngIf="peliculaModal.edicion" (click)="eliminarPelicula(peliculaModal)">
                    <i class="bi bi-trash3"> </i>
                </button>
                <button class="btn btn-success" *ngIf="!peliculaModal.edicion" (click)="registrarPelicula()">
                    Registrar Pelicula
                </button>
                <button class="btn btn-success" *ngIf="peliculaModal.edicion" (click)="editarPelicula()">
                    Guardar cambios de pelicula
                </button>
            </div>
        </div>

    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th scope="col">Pelicula</th>
            <th scope="col">Horario</th>
            <th scope="col">Personas</th>   
            <th scope="col">Sala</th>
            <th scope="col">Clasificacion</th>
            <th scope="col">Duracion</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Eliminar</th> <!-- Nueva columna -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of listaPeliculas">
            <td>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#datos" (click)="edicionPelicula(pelicula)">
                    Editar
                </button>
            </td>
            <td>{{ pelicula.titulo }}</td>
            <td>{{ pelicula.horario }}</td>
            <td>{{ pelicula.personas }}</td>
            <td>{{ pelicula.sala }}</td>
            <td>{{ pelicula.clasificacion }}</td>
            <td>{{ (pelicula.duracion/60).toFixed(2) }} Hrs</td>
            <td>{{ pelicula.descripcion }}</td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="eliminarPelicula(pelicula)">
                    <i class="bi bi-trash3"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>