<div class="row" style="background-color: blue;">
    <div class="col-12 d-flex justify-content-center" style="margin-top: 5%; margin-bottom: 10%;">
        <div class="card" style="align-items: center;">
            <img src="{{imagesLogin}}" class="card-img-top" alt="..." width="50%">
            <div class="card-body">
                <h5 class="card-title">Login de la cuenta</h5>
                <br>
                <div>
                    <input id="gettingEmail" class="form-control" type="text" placeholder="email" [(ngModel)]="usuario.email">
                </div>
                <br>
                <div>
                    <input id="gettingPassword" type="password" class="form-control" placeholder="Password" [(ngModel)]="usuario.password">
                </div>
                <br>
                <button class="btn btn-info" (click)="login()">
                    Iniciar sesión
                </button>
            </div>
        </div>
    </div>
</div>