<div>
    <div  class="container">
        <a routerLink="/iniciar" >
            <button>
                <span>login</span>
            </button>
        </a>
    </div>

    <input class="entrada" type="text" [(ngModel)]="texto">

    <p class="texto">
        {{texto}}
    </p>
    <button class="btn" (click)="botonFuncion()">
        {{texto}}
    </button>
    <div class="caja" *ngFor="let palabra of arreglo">
            {{palabra}}
    </div>
    <div *ngIf="cheves">
        <img [ngClass]="{'img': status == 'fase1', 'img2': status == 'fase2', 'img3':status == 'fase3'}" src="{{images}}" alt="">
    </div>
</div>